<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task list</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
    <%- include("navbar")%>
        <hr>

        <div class="container">
            <h1>Task List</h1>
            <form action="/multi-delete" method="post">
                <div style="display: flex; justify-content: end;">
                    <button class="delete-item" style="margin-bottom: 15px;">Delete Selected
                        Task</button>
                </div>
                <ul class="task-list">
                    <% for(let i=0;i<todoData.length;i++) {%>
                        <li class="task-item">
                            <div style="display: flex; justify-content: space-between; align-items: start;">
                                <div class="task-title">
                                    <%= todoData[i].title%>
                                </div>
                                <input type="checkbox" name="selectedTask" id="selectedTask"
                                    value="<%=todoData[i]._id%>" />
                            </div>
                            <div class="task-description">
                                <%= todoData[i].description%>
                            </div>

                            <a href="/delete/<%=todoData[i]._id%>" class="delete-item">Delete</a>
                            <a href="/update/<%=todoData[i]._id%>" class="update-item">Update</a>
                        </li>
                        <%}%>
                </ul>
            </form>
        </div>
</body>

</html>